<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>andreasrs.com - professional software development - about</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
</head>
<body>
    <nav>
        <ul>
            <li class="active"><a href="/">About</a></li><li><a href="/projects">Projects</a></li><li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <figure class="hero">
        <img src="andreas.jpg" alt="portrait photograph of Andreas sitting outdoors">
        <figcaption>Autumn 2018 📷</figcaption>
    </figure>

    <main>
        <h1>Andreas Søvik</h1>

        <p>I am an experienced Software Developer currently living in central Oslo, Norway. As a developer I am focused on the modern web and consider myself very lucky to work with what I consider to be one of my biggest hobbies for over a decade.</p>
        <p>My focus at work is high quality engineering and contributing to teams with technical guidance and leadership. I really believe that helping others in the team improve is an extremely important part of working on challenging projects in tech. Talented people work well when given trust and guidance.</p>
        <p>I am currently employed at <a href="https://www.blank.no/">Blank</a> where I do consulting for product and technology companies.</p>

        <h2>Relevant experience and past focus areas</h2>
        <p>Implementing core technical parts of modern Web SDKs and frontend tooling used by hundreds of other web developers.</p>
        <p>Planning and building popular user-facing products on the web, including some of the biggest online publishers in Scandinavia.</p>
        <p>Working with product development and system integrations in the finance and insurance domain.</p>
        <p>Designing and implementing backend systems used for business-critical tasks.</p>
        <p>Working in teams consisting of a mix of expertise; UX, product managers and engineers. I have also had several technical leading roles while remaining hands-on with the technology.</p>

        <p>I have summarized some of these <a href="/projects">projects</a>.</p>

        <h2>Technical expertise</h2>
        <h3>Languages and tools that I am currently using in  a professional setting</h3>
        <ul>
            <li>Node.js</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>React, Redux, Jest</li>
            <li>HTML5, CSS, css-modules, sass</li>
            <li>Cypress</li>
            <li>Express, Koa</li>
            <li>Babel, Webpack</li>
        </ul>

        <h3>I also have professional experience with</h3>
        <ul>
          <li>PHP</li>
          <li>Python</li>
          <li>Apache</li>
          <li>MySQL</li>
          <li>Varnish</li>
          <li>Redis</li>
          <li>Memcache</li>
          <li>RabbitMQ</li>
        </ul>

        <h3>Infastructure and tools</h3>
        <ul>
            <li>Git, Github, Bitbucket</li>
            <li>Travis CI, Jenkins, Github Actions</li>
            <li>Docker</li>
            <li>Linux</li>
            <li>bash + zsh</li>
            <li>MacOS</li>
            <li>Windows 10</li>
        </ul>

        <h3>Education and certifications</h3>
        <ul>
          <li>BSc Computer Science, graduated 2007, England. Dissertation was a visual SVG-editor written in C++</li>
          <li>Zend Certified PHP Engineer x 2, CA, USA</li>
        </ul>
        <p>
            I believe in adopting to the technical tools best suited for a given job and try to avoid locking myself into specific tools and frameworks.
        </p>

        <h2>Availability</h2>
        <p>Currently employed full-time at Blank, a great consultancy owned by its employees. <a href="/contact">Get in touch with me</a> for any business inquiries.</p>
    </main>

    {% include "footer.html" %} 

    <script src="app.js" async></script>
    {% include "analytics.html" %}
</body>
</html>
