<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>andreasrs.com</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300" rel="stylesheet">
    {% if prod %}
    <link rel="stylesheet" href="app.css" />
    {% endif %}
</head>
<body>
    <nav>
        <ul>
            <li class="active"><a href="/">About</a></li><li><a href="/projects">Projects</a></li><li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <main>
        <h1>Andreas Søvik</h1>

        <p>An experienced Software Developer currently living in central Oslo, Norway. I am focused on the modern web, and lucky to work with one of my biggest hobbies for over a decade.</p>
        <p>My focus is high quality engineering and contributing to team motivation and happiness. I am a believer of helping others in the team improve is extremely important part of working in tech.</p>
        <p>I am currently employed by <a href="http://www.schibsted.com/en/About-Schibsted/Schibsted-Products-and-Technology/">Schibsted Products and Technology</a> as a Software Engineer.</p>

        <h2>Experience and focus areas</h2>
        <p>Planning and building popular user-facing products on the web, including some of the biggest online publishers in Scandinavia.</p>
        <p>Implementing core parts of Web SDK and tooling used by hundreds of web developers.</p>
        <p>Designing and implementing backend systems used for business-critical tasks.</p>
        <p>Working in teams consisting of a mix of expertise; UX, product managers and engineers. I have also had several technical leading roles over the years.</p>
        <p>I have written a bit more about these <a href="/projects">projects</a>.</p>

        <h2>Technical expertise</h2>
        <h3>Languages and tools</h3>
        <ul>
            <li>HTML5, CSS, css-modules, sass</li>
            <li>Node.js</li>
            <li>JavaScript. ES5, ES2015+</li>
            <li>React, Redux</li>
            <li>Express, Koa</li>
            <li>Babel, Webpack</li>
        </ul>

        <h3>Infastructure</h3>
        <ul>
            <li>Git, Github</li>
            <li>Docker</li>
            <li>Varnish</li>
            <li>Linux</li>
            <li>MacOS</li>
        </ul>
        <p>
            I also have professional work experience with Java, PHP and various database technologies. I am a believer in adopting to the best tools for a given job, and try to avoid locking myself into specific tools and frameworks.
        </p>

        <h2>Availability</h2>
        <p>Currently employed full-time by Schibsted. <a href="/contact">Get in touch with me</a> for any business inquiries.</p>
    </main>

    <footer>
        Andreas Rudi Søvik © - 2017
    </footer>

    <script src="app.js" async></script>
    {% include "analytics.html" %}
</body>
</html>