<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>andreasrs.com - professional software development - projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300" rel="stylesheet">
    {% if prod %}
    <link rel="stylesheet" href="app.css" />
    {% endif %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">About</a></li><li class="active"><a href="/projects">Projects</a></li><li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <figure class="hero">
        <img src="mio.jpg" alt="portrait of my dog in a sofa">
        <figcaption>My real-life project ❤️</figcaption>
    </figure>

    <main>
        <h1>Projects</h1>

        <h2>Portfolio summary</h2>
        <h3>Roc.js</h3>
        <p>Techlead of responsible team and co-authored an ecosystem aimed at best-practice JavaScript applications. Focus on developer productivity.</p>
        <h3>Schibsted Publishing Platform - Web SDK</h3>
        <p>Contributor in a team that is building the next-generation Web SDK for Schibsted Publishing.</p>
        <h3>VG+</h3>
        <p>The biggest premium online news service in Norway. Techlead and main contributor spanning multiple years of new development and maintenance.</p>
        <h3>Android apps</h3>
        <p>Created and published hybrid Android apps like pent.no</p>
        <h3>VG Breaking News - Push infrastructure</h3>
        <p>Technical platform for sending breaking news notifications to a large number of subscribers.</p>
        <h3>Imbo - Python client</h3>
        <p>Use Imbo (ImageBox) in your Python applications.</p>
        <h3>Local newspaper migration</h3>
        <p>Key contributor in ambitious project; moving over 30 local online newspapers to a Java-based platform.</p>

        <h2>Given presentations</h2>
        <h3>Edge Seminars</h3>
        <p>Building modern javascript applications with Roc</p>
        <p><a href="https://www.meetup.com/edge-seminars/events/234647649/">https://www.meetup.com/edge-seminars/events/234647649/</a></p>

        <h3>Schibsted Barcelona: REBOOT 2016</h3>
        <p>Simplifying modern JavaScript development</p>
        <p><a href="http://www.schibsted.com/en/About-Schibsted/Schibsted-Products-and-Technology/Schibsted-Reboot/">http://www.schibsted.com/en/About-Schibsted/Schibsted-Products-and-Technology/Schibsted-Reboot/</a></p>

        <h3>Framsia</h3>
        <p>Simplifying the modern JavaScript toolchain</p>
        <p><a href="https://www.meetup.com/framsia/events/229406512/">https://www.meetup.com/framsia/events/229406512/</a></p>

        <h3>TechShock</h3>
        <p>Weapon of Choice - Native, Hybrid or Web: VG+</p>
        <a href="https://www.meetup.com/TechShock/events/142120742/">https://www.meetup.com/TechShock/events/142120742/</a>

        <h3>Workshops</h3>
        <p>
            I have also held several internal technical presentations and workshops on different occasions upon request.
        </p>

        <h2>Publications</h2>
        <h3>Modern JavaScript - an alternative approach</h3>
        <p>A background behind the Roc.js initiative at Schibsted</p>
        <a href="http://bytes.schibsted.com/rethinking-modern-javascript-development/">http://bytes.schibsted.com/rethinking-modern-javascript-development/</a>
        <h3>JavaScript: What the hell is this?</h3>
        <p>A technical introduction to JavaScript</p>
        <a href="http://bytes.schibsted.com/javascript-what-the-hell-is-this/">http://bytes.schibsted.com/javascript-what-the-hell-is-this/</a>
        <h3>Getting started with Varnish Cache</h3>
        <p>A technical introduction to using Varnish cache</p>
        <a href="http://bytes.schibsted.com/varnish-http-cache-a-quickstart-guide-for-web-developers-part-1/">http://bytes.schibsted.com/varnish-http-cache-a-quickstart-guide-for-web-developers-part-1/</a>
    </main>

    <footer>
        Andreas Rudi Søvik © - 2018
    </footer>

    <script src="app.js" async></script>
    {% include "analytics.html" %}
</body>
</html>
