@import "nord/src/sass/nord.scss";

$topOffset: 102px;
$topOffsetDesktop: 81px;

body {
  background: $nord0;
  color: $nord4;
  font-size: 28px;
  font-family: 'Lato', sans-serif;

  @media only screen and (min-width: 1024px) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5 {
  color: $nord7;
  font-weight: 400;
  font-family: 'Electrolize', sans-serif;
}

h1 {
  font-size: 2.5em;
  margin: 1.4 0 1.4em 0;
}

h2 {
  font-size: 2em;
  margin: 1.1em 0 1.1em 0;
}

p {
  font-size: 1em;
  margin: 1em 0 1em 0;
}

a, a:visited {
  color: $nord8;
}

a:hover {
  color: $nord14;
}

nav {
  z-index: 1;
  background: $nord1;
  border-bottom: 0.2em $nord2 solid;
  font-family: 'Electrolize', sans-serif;

  @media only screen and (min-width: 1024px) {
    border-bottom: none;
  }

  ul {
    color: $nord1;
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;

    @media only screen and (min-width: 1024px) {
      width: 70%;
    }

    a, a:visited {
      color: $nord8;
      text-decoration: none;
    }

    a:hover {
      background: $nord8;
      color: $nord0;
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 33.3%;

      &.active {
        background: $nord2;
        font-weight: bold;
      }

      a {
        display: inline-block;
        width: 100%;
        font-size: 1.8em;
        height: $topOffset;
        line-height: $topOffset;

        @media only screen and (min-width: 1024px) {
          height: $topOffsetDesktop;
          line-height: $topOffsetDesktop;
        }
      }
    }
  }
}

main {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto 0 auto;

  @media only screen and (min-width: 1024px) {
    width: 70%;
  }
}
.hero {
  width: 110%;
  margin-left: -5%;
  @media only screen and (min-width: 1024px) {
    width: 100%;
    margin: 0;
  }
  height: auto;
  position: relative;

  .footer {
    text-align: right;
    font-size: 0.6em;
    color: $nord7;
    background: $nord1;
    padding: 0.3rem;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  img.sparkle {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: none;
    animation: fadein 8s ease-in alternate infinite;
  }
}
.sticky {
  position: fixed;
  top: -$topOffset;
  height: $topOffset;
  transform: translateY($topOffset);
  @media only screen and (min-width: 1024px) {
    top: -$topOffsetDesktop;
    transform: translateY($topOffsetDesktop);
    height: $topOffsetDesktop;
  }
  width: 100%;
  transition: transform 0.2s linear;
}

.sticky-follow {
  padding-top: $topOffset;
  @media only screen and (min-width: 1024px) {
    padding-top: $topOffsetDesktop;
  }
}

footer {
  font-size: 0.8em;
  margin: 2em 0 0 0;
  padding: 2em 5% 2em 5%;
  background: $nord1;
  color: $nord6;

  @media only screen and (min-width: 1024px) {
    padding: 2em 15% 2em 15%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
