$bright: #fff;
$dark: #000;
$color1: rgba(37, 78, 123, 1);
$color2: rgba(85, 132, 177, 1);
$color3: rgba(133, 193, 229, 1);
$color5: rgba(248, 243, 234, 1);

$topOffset: 102px;
$topOffsetDesktop: 81px;

body {
  background: $bright;
  font-size: 28px;
  font-family: 'Lato', sans-serif;

  @media only screen and (min-width: 1024px) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Electrolize', sans-serif;
}

h1 {
  font-size: 2.5em;
  margin: 1.4 0 1.4em 0;
}

h2 {
  font-size: 2em;
  margin: 1.1em 0 1.1em 0;
}

p {
  font-size: 1em;
  margin: 1em 0 1em 0;
}

a, a:visited {
  color: $color2;
  text-decoration: none;
}

nav {
  z-index: 1;
  background: $color1;
  border-bottom: 0.2em $color1 solid;
  font-family: 'Electrolize', sans-serif;

  @media only screen and (min-width: 1024px) {
    border-bottom: none;
  }

  ul {
    color: $color3;
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;

    @media only screen and (min-width: 1024px) {
      width: 70%;
    }

    a, a:visited {
      color: $color5;
    }

    a:hover {
      background: $color3;
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 33.3%;

      &.active {
        background: $color2;
        font-weight: bold;
      }

      a {
        display: inline-block;
        width: 100%;
        font-size: 1.8em;
        height: $topOffset;
        line-height: $topOffset;

        @media only screen and (min-width: 1024px) {
          height: $topOffsetDesktop;
          line-height: $topOffsetDesktop;
        }
      }
    }
  }
}

main {
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;

  @media only screen and (min-width: 1024px) {
    width: 70%;
  }
}

.sticky {
  position: fixed;
  top: -$topOffset;
  height: $topOffset;
  transform: translateY($topOffset);
  @media only screen and (min-width: 1024px) {
    top: -$topOffsetDesktop;
    transform: translateY($topOffsetDesktop);
    height: $topOffsetDesktop;
  }
  width: 100%;
  transition: transform 0.2s linear;
}

.sticky-follow {
  padding-top: $topOffset;
  @media only screen and (min-width: 1024px) {
    padding-top: $topOffsetDesktop;
  }
}

footer {
  font-size: 0.8em;
  margin: 2em 0 0 0;
  padding: 2em 5% 2em 5%;
  background: $color1;
  color: $color5;

  @media only screen and (min-width: 1024px) {
    padding: 2em 15% 2em 15%;
  }
}
